<!DOCTYPE html>
<html>
    <head>
        <title>web chat</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <link href="/styles.css" rel="stylesheet" /> 
        
    </head>
    <body>
        <div id='chatbox' class="chat-window">
            <h1>Chat Room</h1>
            <div id='chatarea'>
            </div>
            <input id="chatid" type="text" placeholder="chat id"/>
            <input id="messagearea" type="textarea" placeholder="Enter message"/>
            <button id="sendmessage">Send</button>
        </div>
        <script src="/webchat.js"></script>
    </body>
</html>